{
    "instagram": {
        "username": "", 
        "password": ""
    }, 
    "twitter": {
        "username": "", 
        "password": ""
    }, 
    "tumblr": {
        "email": "", 
        "password": ""
    }, 
    "facebook": {
        "email": "", 
        "password": ""
    }, 
    "pixiv": {
        "username": "", 
        "password": ""
    },
    "tiktok": {
        "email": "", 
        "password": ""
    }
}